@media only screen and (min-width:200px) and (max-width:600px){
	.header{
	flex-direction:column;
	align-items:stretch;
		max-width:100%;
	
	
}

.header1{	
justify-content:center;


}
	.procontainer{
		padding:10px;
	}

.logo2{
	position:fixed;
	bottom:0px;
	width:100%;
	justify-content:center;
}

 .main{
    flex-direction:column;
	align-items:center;
	max-width:100%;
	justify-content:center;
	
    }
	
	
	
	.main-footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.navbar {
height:60px;	
}
								ul{
													text-align:center;
													margin-left:70px;}
										li{padding:2px 0px;

										}
										nav p{flex-direction:rows;
										}
										li:hover{
													background:aqua;
													color:red;
													list-style:none;
													border-radius:5px;
    transition: color 0.3s; 
													}

										nav{
												flex-direction:column;
													text-align:center;
													
													}



										#a{
											height:220px;
											width:100%;
										overflow:	hidden;
											border:solid 5px white;}


											*{padding:0px;
											margin:0px;}
										#b{
											width:600%;
											height:220px;
											position:relative;
											animation: ee 100s infinite;
											background-size:cover;
										}
											
											
										#b img{
											width:20%;
											float:left;
											height:80%;
										}
										@keyframes ee{
											0%{left:0;}
											
											25%{left:0%;}
											
											30%{left:-130%;}
											
											50%{left:-130%;}
											
											55%{left:-240%;}
											
											75%{left:-240%;}
										80%{left:-360%;}
										100%{left:-360%;}
										} 





	
	 
	
}
.productstyle{
	align-items:center;
	justify-content:center;
	padding:10px;
	}







.nav2 {
    padding: 10px 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}


.nav2item {
    min-width: 80px; 
    margin: 0 10px;
    flex-shrink: 0; 
}



.nav2item h4 {
    font-size: 12px;
    margin-top: 5px;
}
	
	
.navbar h1 {
	display:none;
}
  
    


}



@media only screen and (min-width:600px) and (max-width:1000px){
	.main h1{
	color:blue;
	
	
	}
	
.nav2 {
    padding: 10px 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}	

.nav2item {
    min-width: 80px; 
    margin: 0 10px;
    flex-shrink: 0; 
}



.nav2item h4 {
    font-size: 12px;
    margin-top: 5px;
}
	

}







